*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.box{
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 4000px;
  
  left: 50%;
  font-size: 24px;

}
.cube{
  top: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(30deg) rotateX(-5deg);
 animation: obrot 6s linear infinite;
}
.cube> div{
  top: 200px;
  width: 200px;
  height: 200px;
  border: 30px solid black;
  position: absolute; 
  opacity: 0.5;

}
.cube .front{
  transform:translateZ(100px) rotate(0deg);

  background-color: pink;

}
.cube .back{
  transform:translateZ(-100px) rotateX(180deg);

  background-color:green;
}
.cube .right{
  transform:rotateY(90deg) translateX(100px);
  transform-origin: center right;
  background-color: rgb(93, 58, 218);
}
.cube .left{
  transform:rotateY(-90deg) translateX(-100px);
  transform-origin: center left;
  background-color: palevioletred;
}
.cube .top{
  transform:rotateX(-90deg) translateY(-100px);
  transform-origin: center top;
  background-color: burlywood;
}
.cube .bottom{
  transform:rotateX(90deg) translateY(100px);
  transform-origin: center bottom;
  background-color: yellowgreen;
}


@keyframes obrot{
  0% { transform: rotateX(0)rotateZ(0); }
  100% { transform: rotateX(360deg) rotateZ(360deg); }
}